name: Drift NonProd

on:
  schedule:
    - cron: "*/1 * * * *"
  workflow_dispatch:

jobs:
  dev:
    uses: ./.github/workflows/terraform-core.yml
    with:
      environment: dev
      region: ap-south-1
      auto_apply: true
    secrets: inherit

#   preprod:
#     uses: ./.github/workflows/terraform-core.yml
#     with:
#       environment: preprod
#       region: ap-south-1
#       auto_apply: true
#     secrets: inherit