name: Drift NonProd

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  dev:
    uses: ./.github/workflows/terraform-core.yml
    with:
      environment: dev
      region: ap-south-1
    secrets:
      AWS_ROLE: ${{ secrets.AWS_ROLE }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}

  preprod:
    needs: dev
    uses: ./.github/workflows/terraform-core.yml
    with:
      environment: preprod
      region: ap-south-1
    secrets:
      AWS_ROLE: ${{ secrets.AWS_ROLE }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
